Flask==0.12.2
flask-heroku==0.1.9
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
google-api-python-client==1.6.5
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
macholib==1.9
MarkupSafe==1.0
oauth2client==4.1.2
pefile==2017.11.5
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyInstaller==3.3.1
PyJWT==1.6.1
pytz==2018.3
redis==2.10.6
requests==2.18.4
rsa==3.4.2
six==1.11.0
SQLAlchemy==1.2.5
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
Werkzeug==0.14.1
WTForms==2.1
