{% extends "master.html"  %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
signup
{% endblock %}


{% block content %}
<!-- Display messages sent from Python using flash() -->
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <p style="color: greenyellow; background-color: black; text-align: center;">{{ message }}</p>
      {% endfor %}
   {% endif %}
{% endwith %}

  <div class="container">

    <form class="form-signin" method="POST" action="/users/signup">
      <h2 class="form-signin-heading">Share Your Data</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">one of us</button>
      </form>

      <p>If you already have a username click on <a href="{{ url_for('users.login') }}">login</a></p>
      </div>
{% endblock %}
