{% extends "search/master.html" %}
{% block content %}

<br/><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p>{{ videoTitle }}</p>
<p>{{ genre }}</p>
<p>{{ isFavorite.upper() }}</p>
<p>{{ commentPlug }}</p>
<p>If you click "Anchor And Pivot" your next search result will be directly associated with this video.<br/>
   </p>
<br/>
<form action="{{ url_for('search.anchor_pivot') }}" method="POST">
	<input type="hidden" name="videoId" value="{{ videoId }}"/>
	<input type="hidden" name="genre" value="{{ genre }}" />
	<input type="hidden" name="publishedBefore" value="{{ publishedBefore | default ('None') }}"/>
	<input type="hidden" name="publishedAfter" value="{{ publishedAfter | default ('None') }}" />
	<input type="hidden" name="currentRareValue" value="{{ currentRareValue | default ('50') }}" />
	<input type="submit" value="Anchor & Pivot">
</form>
<br/>
<form action="{{ url_for('search.keep_searching') }}" method="POST">
	<input type="hidden" name="genre" value="{{ genre }}"/>
	<input type="hidden" name="nextToken" value="{{ nextToken }}" />
	<input type="hidden" name="publishedBefore" value="{{ publishedBefore | default ('None') }}"/>
	<input type="hidden" name="publishedAfter" value="{{ publishedAfter | default ('None') }}"/>
	<input type="hidden" name="currentRareValue" value="{{ currentRareValue | default ('50') }}" />
	<input type="submit" value="Continue Searching This Genre">
</form>
<br/>
<form action="{{ url_for('search.dunderbands') }}" method="GET">
			<input type="submit" value="Return Home And Search Again">
	</form>

{% endblock %}
