{% extends "master.html" %}
{% block content %}

<div class="about-grid">
  <div class="about-item about1"></div>
  <div class="about-item about2"></div>
  <div class="about-item about3"><img src="{{ url_for('static', filename= 'img/goodevanpic.png') }}"></div>
  <div class="about-item about4"><img src="{{ url_for('static', filename= 'img/b-card.png')}}"></div>
  <div class="about-item about5"></div>
  <div class="about-item about6"></div>
  <div class="about-item about7"><p>I'm an IT professional with over 13 years experience installing, upgrading and maintaining servers,
     workstations and networks at hospitals and pharmacies across the Midwest.</p>
    <p>For the past 3 years I have been learning various programming languages in an effort to switch career paths.  I've always been fascinated
    with programmers and coding languages and I can finally say with certainty that I am a programmer.  I still have
    many milestones to reach but I realize I'll be learning new things about code for the rest of my life.
</p>
    <p>This website has now become my Portfolio as well as my project.  At its center is an App called
    <a href="{{ url_for('search.dunderbands') }}">DunderBands</a>
    which I explain in great detail <a href="{{ url_for('settings.faq') }}">here</a>.  This site is hosted by <a href ="https://www.heroku.com/">Heroku</a>.
    I use Python/Flask for the Framework.  PostgreSQL for the Database.  Redis for Secret Keys and API Tokens.  And Heroku is using
    <a href="https://gunicorn.org/">Gunicorn</a> to host the site.
 </p>  </div>
</div>

{% endblock %}
